[Unit]
Description=Jenkins
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/jenkins
ExecStart=/usr/bin/java ${JENKINS_JAVA_OPTIONS} -jar /opt/jenkins/jenkins.war --httpPort=${JENKINS_PORT} --httpListenAddress=${JENKINS_LISTEN_ADDRESS} ${JENKINS_ARGS}
Restart=always
User=jenkins
RestartSec=20

[Install]
WantedBy=multi-user.target
